<div class="bg-[#000549] p-6 relative w-full h-[100vh] overflow-y-scroll">
    <img class=" absolute right-0 object-contain "  src="assets/images/only-bg-img.png" alt="">
    <img class=" absolute right-0 bottom-6 object-contain hidden md:block"  src="assets/images/flower-right.png" alt="">
    <img class=" absolute left-0 bottom-6 object-contain hidden md:block"  src="assets/images/flower-left.png" alt="">
    <div class="grid grid-cols-1 items-center h-full justify-center  relative z-[10]">
        <div class=" w-full md:w-[680px] mx-auto">
            <img src="assets/images/mark-green.png" class="mx-auto w-32" alt="">
           <p class="text-white text-base text-center md:text-xl">
                Dear {{firstName}},  thank you for confirming your attendance of Tope Dare' sendforth party holding on Thursday, 28th March 2024, from 5pm at Harbour Point, Victoria Island, Lagos.
            </p>
            <p class="text-white text-center my-4 md:text-xl">
                We also appreciate the submission of your goodwill message.
            </p>
            <p class="text-white text-center my-4 md:text-xl">
                We shall frequently keep you updated as the event draws nearer.
            </p>
            <p class="text-white text-center my-4 md:text-xl">
                Thank you
            </p>
        </div>    
    </div>
</div>
